html, body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
*{
    box-sizing: border-box;
}
.link-card{
    position: relative;
    margin: 5% auto 0 auto;
    width: 40%;
    height: auto;
    border-radius: 10px;
    background: #4f4c8a;
    background: linear-gradient(90deg, rgba(79, 76, 138, 1) 0%, rgba(68, 68, 171, 1) 35%, rgba(14, 148, 179, 1) 100%);
    padding: 40px 20px 100px 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.link-card p {
    margin: 0;
}
.circle{
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 75px;

    /*Replace inside the url() with your own profile pic, make sure it is in the same folder as this project*/
    background-image: url(profile.jpg);
    background-size: cover;        /* fills the screen */
    background-position: center;   /* centers the image */
    background-repeat: no-repeat;  /* no repeating */
}
.link-card .link-buttons{
    color: black;
    display: flex;
    text-decoration: none;
    width: 70%; height: 40px;
    outline: none;
    border-radius: 20px;
    border: 0px;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
}
footer{
    position: absolute;
    bottom: 1%;
}

@media (max-width: 800px) {
    .link-card{
        width: 100%;
        margin: 0;
        border-radius: 0%;
    }

}